<div class="row center">
  <button id="get-auth-btn" class="btn-large waves-effect waves-light blue darken-4" type="button">Get My Auth Info</button>
</div>

<div class="row center">
  <button id="get-timeline-btn" class="btn-large waves-effect waves-light blue darken-4" type="button">Get My Timeline</button>
</div>

<div class="row center">
  <button id="logout-btn" class="btn-large waves-effect waves-light blue darken-4" type="button">Log Out</button>
</div>
