<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="card amber lighten-3">
          <div class="card-image waves-effect waves-block waves-light">
            <h3 class="center blue-grey-text"><i class="medium material-icons">info_outline</i></h3>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">General Information<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal amber lighten-3">
            <span class="card-title grey-text text-darken-4">General Information<i class="material-icons right">close</i></span>
            <p class="light">This app analyzes text from your Facebook timeline or from text you input and
            shows you the positivity/negativity of keywords found within that text.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card blue lighten-3">
          <div class="card-image waves-effect waves-block waves-light">
            <h3 class="center blue-grey-text"><i class="medium material-icons">help_outline</i></h3>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">How It Works<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal blue lighten-3">
            <span class="card-title grey-text text-darken-4">How It Works<i class="material-icons right">close</i></span>
            <p class="light">The Facebook API is used for authentication and to pull in the timeline for the user.  The IBM Watson
            Alchemy Language API is used to analyze the sentiment of target phrases found within the text provided.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card red lighten-3">
          <div class="card-image waves-effect waves-block waves-light">
            <h3 class="center blue-grey-text"><i class="medium material-icons">star_outline</i></h3>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Future Enhancements<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal red lighten-3">
            <span class="card-title grey-text text-darken-4">Future Enhancements<i class="material-icons right">close</i></span>
            <p class="light">Future versions of this application will include integration with Twitter and other social media applications.</p>
          </div>
        </div>
      </div>
    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
</div>
