// Cheerful and Energetic color theme
// $orange: #f4976c;
// $yellow: #fbe8a6;
// $navy: #303c6c;
// $blue-grey: #b4dfe5;
// $light-cyan: #d2fdff;

// Vibrant and Elegant color theme
// $yellow: #f8e9a1;
// $pink: #f76c6c;
// $light-blue: #a8d0e6;
// $medium-blue: #374785;
// $dark-blue: #24305e;

// Rich and Colorful color theme
$pink: #f78888;
$yellow: #f3d250;
$light-grey: #ececec;
$light-blue: #90ccf4;
$blue: #5da2d5;

// colors that tie into theme
$nav-color: $light-grey;
$background-color: $light-grey;
$header-color: $blue;
$footer-color: $blue;
